@import "~bootstrap/scss/bootstrap";

body {
  background-color: lightblue;
}

// get more at loading.io
.light-shade {
  background-color: #ffffff;
}

.light-accent {
  background-color: #bdf8bd;
}

.main-brand-color {
  background-color: #542190;
}

.dark-accent {
  background-color: #c29ecc;
}

.dark-shade {
  background-color: #5c3545;
}

.hide {
  display: none;
}