@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import '../javascripts/components/allMovies/allMovies.scss';
@import '../javascripts/components/myNavbar/myNavbar.scss';
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Raleway&display=swap');

// get more at loading.io
.light-shade {
  background-color: #f9fafa;
}

.light-accent {
  background-color: #c3976b;
}

.main-brand-color {
  background-color: #e03f45;
}

.dark-accent {
  background-color: #8b8a9e;
}

.dark-shade {
  background-color: #282833;
}

.hide {
  display: none;
}

nav {
  font-family: 'Raleway', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
}